In [2]:
import pymysql

In [4]:
mydb=pymysql.connect(
   host='localhost',
   user='root',
   password='RonaldoandMessi12'
)
mycursor=mydb.cursor()

In [7]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('accesswayprimebank',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
mycursor.execute('create database accesswayprimebank')

1

In [10]:
mydb=pymysql.connect(
   host='localhost',
   user='root',
   password='RonaldoandMessi12',
    database = 'accesswayprimebank'
)
mycursor=mydb.cursor()

In [11]:
mycursor.execute('create table mainstaffdetails(staffid int primary key not null auto_increment,staffname varchar(255)not null,staffgender varchar(10)not null,staffdesignation varchar(50)not null)')

0

In [12]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('mainstaffdetails',)