In [1]:
word1 = '''the plates will still shift
and the clouds will still spew
the sun will slowly rise
and the moon will follow too'''
print(word1.upper())

THE PLATES WILL STILL SHIFT
AND THE CLOUDS WILL STILL SPEW
THE SUN WILL SLOWLY RISE
AND THE MOON WILL FOLLOW TOO

In [2]:
print('MY NAME IS JAMES')

MY NAME IS JAMES

In [3]:
state='i\'m from a well known village with good culture in kogi state'
print(state)

i'm from a well known village with good culture in kogi state

In [4]:
num=float(458)
print(num)

458.0

In [10]:
a=input( 'enter first name')
b=input( 'enter second name')
c=input( 'enter third name' )

enter first namechima
enter second namemartins
enter third nameada

In [12]:
quantity=3
totalmoney=1000
price=450
statement='i have 'totalmoney'

enter first nameada
enter second namegas
enter third namedes

In [2]:
#A=p(1+r/n)**nt
t=3
p=5000
r=6/100
n=12
ci=p*(1+r/n)**(n*t)-p
print(ci)

983.4026241170732

In [9]:
estimate=700000
principal=550000
firstdeposit=25000
seconddeposit=35000
interestrate=5/100

firstyear=(principal * intrestrate)+principal +firstdeposit
secondyear=(firstyear*interestrate)+firstyear+seconddeposit
thirdyear=(secondyear*interestrate)+secondyear
print(f'the total amount after three year is {thirdyear}')
print(f'their saving is {thirdyear -estimate}greater than the estimated amount of {estimate}')

the total amount after three year is 701006.25
their saving is 1006.25greater than the estimated amount of 700000

In [16]:
word='python'
for x in word:
    print(x*4)

pppp
yyyy
tttt
hhhh
oooo
nnnn

In [18]:
word='python'
for x in word:
    print(x * 4,end='/')

pppp/yyyy/tttt/hhhh/oooo/nnnn/

In [19]:
names=['ade','ojo','emeka', 'sam','dan']
for name in names:
    print(f'dear {name}this is for your kind reminder we are starting on monday')

dear adethis is for your kind reminder we are starting on monday
dear ojothis is for your kind reminder we are starting on monday
dear emekathis is for your kind reminder we are starting on monday
dear samthis is for your kind reminder we are starting on monday
dear danthis is for your kind reminder we are starting on monday

In [23]:
jamb_database= {
    'RREG001/45':{'Name':'Matthew oba','math':85,'english':75,
    'physicsscore':60, 'chemistry':80},
    'reg002/45':{'name':'janet','math':80,'english':66,
    'physics':50,'chemistry':80},
    'reg003/45':{'name':'john','math':77,'english':34,
    'physics':45,'chemistry':90}
    }
for key,value in jamb_database.items():
    print(f'{key}:::{value}')

RREG001/45:::{'Name': 'Matthew oba', 'math': 85, 'english': 75, 'physicsscore': 60, 'chemistry': 80}
reg002/45:::{'name': 'janet', 'math': 80, 'english': 66, 'physics': 50, 'chemistry': 80}
reg003/45:::{'name': 'john', 'math': 77, 'english': 34, 'physics': 45, 'chemistry': 90}

In [29]:
jamb_database= {
    'RREG001/45':{'Name':'Matthew oba','math':85,'english':75,
    'physicsscore':60, 'chemistry':80},
    'reg002/45':{'name':'janet','math':80,'english':66,
    'physics':50,'chemistry':80},
    'reg003/45':{'name':'john','math':77,'english':34,
    'physics':45,'chemistry':90}
    }
registration_number=input('PLEASE PROVIDE YOUR REGISTRATION NUMBER:')
for key in jamb_database:
    if key ==registration_number:
        print(f'congratulations your jamb details are as follows {jamb_database[key]}')
        break
else:
    print('RECORD NOT FOUND')

PLEASE PROVIDE YOUR REGISTRATION NUMBER:RREG001/45
congratulations your jamb details are as follows {'Name': 'Matthew oba', 'math': 85, 'english': 75, 'physicsscore': 60, 'chemistry': 80}

In [32]:
import random
correct_guess =random.randint(1,20)
guess_limit=3
guess_count=0
while guess_count < guess_limit:
    guess=int(input('please provide your guess within the range of 1 ans 20:'))
    guess_count=guess_count + 1
    if guess>correct_guess:
        print('guess too high')
    elif guess < correct_guess:
        print('guess too low')
    elif guess ==correct_guess:
        print('congratulation you guessed correctly')
        break
else:
    print('sorry you lost')

please provide your guess within the range of 1 ans 20:7
guess too low
please provide your guess within the range of 1 ans 20:10
guess too high
please provide your guess within the range of 1 ans 20:9
guess too high
sorry you lost